*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}


.titleHeader{
    text-align: center;
}

main{
    display:flex;
    align-items: center;
    justify-content: space-evenly;    
    max-width: 1700px;
    margin: 0 auto;
    gap: 200px;
    /* border: 2px solid blue; */
}

.tool{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: larger;
}

.classWrapper{
    background-color: white;
    display: grid;
    width: 700px;
    height: 700px;   
    margin-top: 2em; 

}

.cell{
    border: 2px solid #00000015;
}

#menu{
    display: flex;
    flex-flow: column;
    width: 10em;
    gap: 1.5em;
    align-items:center;
    /* border: 2px solid red; */
}

input[type=color] {
    visibility: hidden;
}

label {
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  display:inline-block;
}
/*MEDIA QUERIES*/
@media (max-width: 1300px) {
    .classWrapper{
        height: 700px;
        width: 700px;
        margin-top: 2em;
    }
    main{
        gap: 20%;
    }
}
  
@media (max-width: 860px) {
    main{
        margin-top: 2em;
        gap: 30px;
    }
    .classWrapper {
        margin-top: auto;
        height: 500px;
        width: 500px;
    }
}
  
@media (max-width: 650px) {
    main {
        flex-direction: column;
        gap: 20px;
    }
    .tool{
        font-size: large;
        margin-bottom: 10px;
    }
    
    .classWrapper {
        height: 350px;
        width: 350px;
        margin-top: -1.7em;
    }
}