*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body{
    background: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    transition: .25s ease-in-out;
}

.titleHeader{
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: .5em;
}



main{
    display:flex;
    align-items: center;
    justify-content: space-evenly;    
    max-width: 1700px;
    margin: 0 auto;
    gap: 200px;
    /* border: 2px solid blue; */
}

.tool{
    margin-bottom: -.5em;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: larger;
}

.classWrapper{
    background-color: rgb(167, 167, 167);
    display: grid;
    width: 700px;
    height: 700px;   
    margin-top: 2em; 
    border: 5px solid rgb(80, 80, 80);
    border-radius: 10px;
}

.cell {
    border: 2px solid #00000015;
}

button{
	color: rgba(0, 0, 0, 0.9);
	border:outset;
    margin-top: 10px;
    border-radius: 10px;
	padding: .5em;
	font-size: 1.5em;
	cursor: pointer;
}

button:active{
    /* background-color: seagreen; */
    box-shadow: 4px 4px 60px rgba(255, 255, 255, 0.9) inset, 
            4px 4px 10px seagreen, 
            -4px -4px 10px seagreen,
            -4px 4px 10px seagreen,
            4px -4px 10px seagreen;
}

#menu {
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    width: 10em;
    gap: 1em;
    flex-wrap: wrap;
    align-items:center;
    border: 5px solid rgba(208, 208, 208, 0.9)
}

.menu-box::before {
    content: "Menu";
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.9);
    font-size: 3rem;
    text-align: center;
}

input[type=color] {
    visibility: hidden;
}

label {
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    display:inline-block;
}

.themeToggle {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    width: 80px;
    padding: 10px 5px;
    font-size: 1em;
    font-weight: 700;
    word-wrap: break-word;
    border-radius: 100%;
    border: solid 3px rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transition: .25s ease-in-out;
    z-index:10;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);
	text-shadow: 2px 2px 2px rgb(0, 225, 255);
}

body.dark {
    background: rgba(208, 208, 208, 0.9);
}

body.dark .themeToggle{
    color: rgba(0, 0, 0, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.9);
	text-shadow: 2px 2px 2px rgb(255, 67, 67);
}

body.dark .titleHeader{
    color: rgba(0, 0, 0, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
}
body.dark #menu{
    background-color: rgb(167, 167, 167);
    border-color: rgb(80, 80, 80);
}

body.dark .menu-box::before{
    color: rgba(0, 0, 0, 0.9);
}

body.dark button{
	background: rgba(0, 0, 0, 0.9);
	color: rgba(255, 255, 255, 0.9);
	border:outset;
	cursor: pointer;
}

/*MEDIA QUERIES*/
@media (max-width: 1300px) {
    .classWrapper{
        height: 700px;
        width: 700px;
        margin-top: 2em;
    }
    main{
        gap: 20%;
    }
}
  
@media (max-width: 860px) {
    main{
        margin-top: 2em;
        gap: 30px;
    }
    .classWrapper {
        margin-top: auto;
        height: 500px;
        width: 500px;
    }
    button {
        padding: .5em;
        font-size: 1.3em;
        margin-bottom: -8px;
    }
}
  
@media (max-width: 650px) {
    .titleHeader{
        margin-bottom: .2em;
    }
    main {
        flex-direction: column;
        gap: 20px;
    }
    button {
        padding: .1em;
        font-size: 1em;
        margin-bottom: -13px;
    }
    .tool {
        font-size: large;
        margin-bottom: 10px;
    }
    
    .classWrapper {
        height: 350px;
        width: 350px;
        margin-top: -1.8em;
    }

    .menu-box::before {
        font-size: 2rem;
        margin-top: -20px;
    }
    
}